In [2]:
!aws s3 ls s3://xianglishan-sandbox/ --recursive

2024-01-22 11:59:03     338464 signate-fuda2/sample_submission.csv
2024-01-22 11:59:03    4842723 signate-fuda2/test.csv
2024-01-22 11:59:03    4916051 signate-fuda2/train.csv

In [5]:
import pandas as pd
import numpy as np
import os

train = pd.read_csv('s3://xianglishan-sandbox/signate-fuda2/train.csv')
test  = pd.read_csv('s3://xianglishan-sandbox/signate-fuda2/test.csv')
sample_submission = pd.read_csv('s3://xianglishan-sandbox/signate-fuda2/sample_submission.csv')

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42307 entries, 0 to 42306
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         42307 non-null  int64
 1   Term               42307 non-null  int64
 2   NoEmp              42307 non-null  int64
 3   NewExist           42307 non-null  float64
 4   CreateJob          42307 non-null  int64
 5   RetainedJob        42307 non-null  int64
 6   FranchiseCode      42307 non-null  int64
 7   RevLineCr          41228 non-null  object
 8   LowDoc             41776 non-null  object
 9   DisbursementDate   42157 non-null  object
 10  MIS_Status         42307 non-null  int64
 11  Sector             42307 non-null  int64
 12  ApprovalDate       42307 non-null  object
 13  ApprovalFY         42307 non-null  int64
 14  City               42307 non-null  object
 15  State              42307 non-null  object
 16  BankState          42296 non-null  object
 17  DisbursementGross  42307 non-null  object
 18  GrAppv             42307 non-null  object
 19  SBA_Appv           42307 non-null  object
 20  UrbanRural         42307 non-null  int64
dtypes: float64(1), int64(10), object(10)
memory usage: 6.8+ MB